.upload {
  min-width: 328px;
  width: 100%;
  margin: 0 0 30px;

  &__label {
    position: relative;
    display: block;
    padding: 16px 20px;
    border: 2px dashed $blue;
    border-radius: 2px;
    background-color: #fff;
    transition: background-color 0.2s, border-color 0.2s;

    &.hidden {
      display: none;

      & + .input-block__message {
        display: none;
      }
    }

    &:hover,
    &.highlight {
      cursor: pointer;
      background-color: rgba(220, 220, 255, 0.5);
      //border: 2px solid $grey200;
    }

    &::after {
      content: "";
      position: absolute;
      top: 16px;
      right: 20px;
      width: 24px;
      height: 24px;
      background-image: url("../img/upload.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__main-title-block {
    width: 100%;
    margin: 0 0 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__main-title {
    margin: 0;
    padding: 30px 50px 30px 0;
    max-width: 800px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }

  &__main-title-img {
    width: 100%;
    max-width: 300px;
    height: 130px;
    background-image: url("../img/title-img.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__title {
    @include font(18px, 24px);
    font-weight: 600;
    color: $text-main;
    margin: 0 0 24px;
    padding-right: 30px;

    span {
      display: block;
      font-size: 16px;

      &:first-of-type {
        margin-top: 10px;
      }
    }
  }

  &__desc {
    @include font(12px, 18px);
    color: $grey400;
    margin: 0;
  }

  &__result {
    @include font(15px, 24px);
    color: $dark-grey;
    display: none;
    position: relative;
    padding: 32px 20px;
    background-color: $grey200;
    align-items: center;
    margin-top: 8px;

    &:first-child {
      margin-top: 0;
    }

    &:nth-child(2) {
      margin-top: 16px;
    }

    &.show {
      display: flex;
    }

    &.loader {
      color: $grey400;
    }

    &.loader::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 22px;
      width: 20px;
      height: 20px;
      background-image: url("../img/loader.svg");
      background-color: $grey200;
      animation: rotation 0.7s infinite linear;
      z-index: 100;
    }
  }

  &__name {
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
  }

  &__close {
    @include btn-reset;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: color 0.2s;

    b {
      display: block;
      padding: 15px 25px;
      border: 1px solid $blue;
    }

    svg {
      color: $dark-grey;
    }

    &:hover {
      cursor: pointer;
      color: $blue;
    }
  }
}

.upload__input-results {
  margin-top: 20px;
}

.upload.disabled {
  .upload__label {
    background-color: $grey300;
    border: 1px solid $grey300;

    &:hover {
      cursor: default;
    }

    * {
      color: $grey400;
    }

    &::after {
      opacity: 0.3;
    }
  }
}

.upload.hover {
  .upload__label,
  .upload__label:hover {
    background-color: $grey200;
    border: 1px solid $grey200;

    .upload__title {
      color: $dark-grey;

      * {
        color: $dark-grey;
      }
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 40px;
      right: 60px;
      width: 24px;
      height: 24px;
      background-image: url(../img/pointer.svg);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

.upload.mobile {
  .upload__title span {
    display: none;
  }
}

.upload.error {
  .upload__label {
    border-color: $fail;

    &:hover {
      border: 1px dashed $fail;
    }
  }
}

.upload__failed-files-block {
  padding-top: 20px;
}

.upload__failed-files-title {
  margin: 0 0 10px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  color: $fail;
}

.upload__failed-files-item {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: $fail;

  &::before {
    content: "---";
    display: inline-block;
    margin-right: 5px;
  }

  &::after {
    content: "---";
    display: inline-block;
    margin-left: 5px;
  }
}
